@font-face {
    font-family: "Matroska" ;
    src: url(./fuentes/Matroska-RppG6.ttf);
}
@font-face {
    font-family: "Orbitron Medium";
    src: url(./fuentes/Orbitron-Medium.ttf);
}
@font-face {
    font-family: "Orbitron Bold";
    src: url(./fuentes/Orbitron-Bold.ttf);
}
@font-face {
    font-family: "PPFraktion";
    src: url(./fuentes/PPFraktionMono-Regular-BF675904a6a1564.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #141414;
}

body{
    margin: 0;
}

h1 {
    font-family: "Matroska" , sans-serif;
    text-align: left;
    font-size: 80px;
    color: #FFFFFF;
    line-height: 1;
    margin-top: 10px;
}

h2{
    font-family: "Matroska", sans-serif;
    text-align: left;
    font-size: 44px;
    color: #FFFFFF;
}

h3{
    font-family: "Orbitron Bold";
    text-align: left;
    font-size: 30px;
    color: #FFFFFF;
    padding-bottom: 45px;
}

h4{
    font-family: "Orbitron Medium", sans-serif;
    text-align: center;
    font-size: 24px;
    color: #000000;
}


h5{
    font-family: "Orbitron Bold", sans-serif;
    text-align: left;
    font-size: 20px;
    color: #C8F700;
}

h6{
    font-family: "Orbitron Bold", sans-serif;
    text-align: left;
    font-size: 16px;
    color: #C8F700;
}

p{
    font-family: "PPFraktion", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    
}


.resaltado-rojo{
    color: #FF003C;
}

.gris{
    color: #c5c5c583;
}


.columna-titulos{
    width: 608px;
    text-align: center;
    padding-left: 120px;
    padding-top: 120px;
}

.derecha {
  align-self: flex-end;  /* Esto empuja solo este renglón a la derecha */
  padding-left: 200px;    /* O puedes usar un padding para un control más fino */
}

.derechaDOS {
  align-self: flex-end;  /* Esto empuja solo este renglón a la derecha */
  padding-left: 100px;    /* O puedes usar un padding para un control más fino */
}


/*Sección Portada*/

.h3-40{
    font-size: 40px;
    color: #FFFFFF;
}

.resaltado-verde{
    color: #C8F700;
}

.banner-difuminado {
    padding-top: 260px;
    padding-left: 180px;
    width: 100%;
    height: 1080px;
    background: linear-gradient(70deg, #141414 46%, #FF003C 50%, rgb(255, 255, 255,0.35) 60%), url('imagenes/portada.png');
    background-size: 100% 100%, 70% auto;
    background-repeat: no-repeat;
    background-position: center, right center;
}

#pad-cup{
    padding-left: 250px;
    margin-top: 0px;
}

.columna-portada{
    width: 530px;
    text-align: center;
    padding-top: 50px;
}

.btn {
    margin-top: 75px;
    display: inline-block;
    background: #C8F700;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    align-self: flex-start;
}


/* Sección Imágenes que se acoplan*/

.seccion-acople {
    width: 100%;
    height: 1080px;
    
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    
    /*para ordenar los contenedores*/
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end;     
    padding: 106px 122px; 
}

.foto-1 {
    background-image: url('imagenes/spike-arena.jpg');
    background-size: 100%;
    background-position: left bottom;
}

.foto-2 {
    background-image: url('imagenes/pausa-stands.jpg');
    background-size: 100%;
    background-position: left bottom;
}

.foto-3 {
    background-image: url('imagenes/nosotros-level.jpg');
    background-size: 100%;
}


.p18 {
    font-size: 18px;
    padding-bottom: 41px;
    padding-top: 41px;
    padding-left: 32px;
    padding-right: 32px;
}

.h3-35{
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.contenedor-imagenes{
    width: 626px;
}

/*Sección Equipos*/
.seccion-equipos {
    width: 100%;
    height: 1080px;
    
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url('imagenes/fondo-equipos.jpg');
    background-size: 100%;
}

/*Sección Dudas*/
.dudas-difuminado {
    width: 100%;
    height: 1000px;
    background: linear-gradient(to right, #141414 48%, rgb(255, 0, 60, 0.4) 58%, transparent 110%), url('imagenes/dudas.jpg');
    background-size: 100% 100%, 80% auto;
    background-repeat: no-repeat;
    background-position: center, right center;
}

.columna-dudas{
    width: 650px;
    text-align: center;
    padding-left: 120px;
    padding-top: 50px;
}

.contenedor-titulo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%; 
}

.linea {
  display: flex;
  align-items:  top center; /* Alinea el ícono verticalmente con el texto */
  gap: 30px;
}


/*Sección Formulario*/

.form-difuminado {
    width: 100%;
    height: 1080px;
    background: url('imagenes/ascii-formulario.png'), linear-gradient(110deg, #141414 48%, #caf7002a 80%);
    background-size: 50%, 100% 100%;
    background-repeat: no-repeat;
    background-position: right bottom, center;
}

.columna-formula{
    width: 865px;
    text-align: left;
    padding-left: 120px;
    padding-top: 42px;
}


/*Sección Sponsors*/
.marquee {
  display: flex;
  overflow: hidden; 
  user-select: none;
  background: #C8F700; 

  padding: 20px 0;
}

.marquee-content {
    height: 80px;
    display: flex;
    gap: 150px; 
    padding-right: 150px; 
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

/*Sección Footer*/
.seccion-footer{
    width: 100%;
    height: 382px;
    
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url('imagenes/footer.jpg');
    background-size: 100%;

    padding-left: 120px;
    padding-top: 148px;
}


.footer-links {
  display: flex;
  flex-direction: column; 
  gap: 8px;
  padding-top: 25px; 
  padding-left: 335px;
}

.link-item {
  display: flex;
  align-items: center; /* Alinea ícono y texto al centro */
  gap: 8px; /* Espacio entre ícono y texto */
}

a {
  text-decoration: none;
  color: inherit;
}

