@font-face {
    font-family: "Matroska" ;
    src: url(./fuentes/Matroska-RppG6.ttf);
}
@font-face {
    font-family: "Orbitron";
    src: url(./fuentes/Orbitron-Medium.ttf);
}
@font-face {
    font-family: "PPFraktion";
    src: url(./fuentes/PPFraktionMono-Regular-BF675904a6a1564.otf);
}


h1{
    font-family: "Matroska", sans-serif;
    text-align: top;
    text-align: center;
}


h2, h3{
    font-family: "Orbitron", sans-serif;
    text-align: top;
    text-align: center;
}


p,a, ul, ol, li{
    font-family: "PPFraktion", sans-serif;
    text-align: left;
}


html{   
    background-image: url(./imagenes/cuadricula.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1,h2,h3,h4,h5{
    color: black;   
}

p{
    color: whitesmoke;
    margin-top: 15px;
}

ul,ol,li{
    color: violet;
}

body{
    margin: 50px;
    margin-top: 70px;
}

img{
    display: block;
    margin: auto;
    width: 80%;
    border: 2px solid;
    border-color: aqua;
}

#primertexto{
 color: springgreen;
}

#papulandia{
    color: white;
}

section {
    margin: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: darkcyan;
    border-radius: 20px;
}

#sin-fondo {
    background: none;
}