@font-face {
    font-family: "Matroska" ;
    src: url(./fuentes/Matroska-RppG6.ttf);
}
@font-face {
    font-family: "Orbitron Medium";
    src: url(./fuentes/Orbitron-Medium.ttf);
}
@font-face {
    font-family: "Orbitron Bold";
    src: url(./fuentes/Orbitron-Bold.ttf);
}
@font-face {
    font-family: "PPFraktion";
    src: url(./fuentes/PPFraktionMono-Regular-BF675904a6a1564.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #141414;
}

body{
    margin: 0;
}

h1 {
    font-family: "Matroska" , sans-serif;
    text-align: left;
    font-size: 80px;
    color: #FFFFFF;
    line-height: 1;
    margin-top: 10px;
}

h2{
    font-family: "Matroska", sans-serif;
    text-align: left;
    font-size: 44px;
    color: #FFFFFF;
    padding-top: 120px;
    padding-left: 120px;
}

h3{
    font-family: "Orbitron Bold";
    text-align: left;
    font-size: 30px;
    color: #FFFFFF;
    padding-bottom: 45px;
}

h4{
    font-family: "Orbitron Medium", sans-serif;
    text-align: center;
    font-size: 24px;
    color: #000000;
}


h5{
    font-family: "Orbitron Bold", sans-serif;
    text-align: left;
    font-size: 20px;
    color: #C8F700;
}

h6{
    font-family: "Orbitron Bold", sans-serif;
    text-align: left;
    font-size: 16px;
    color: #C8F700;
}

p{
    font-family: "PPFraktion", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

/*Sección Portada*/

.h3-40{
    font-size: 40px;
    color: #FFFFFF;
}

.resaltado-rojo{
    color: #FF003C;
}

.resaltado-verde{
    color: #C8F700;
}

.banner-difuminado {
    padding-top: 260px;
    padding-left: 180px;
    width: 100%;
    height: 1080px;
    background: linear-gradient(70deg, #141414 46%, #FF003C 50%, rgb(255, 255, 255,0.35) 60%), url('imagenes/portada.png');
    background-size: 100% 100%, 70% auto;
    background-repeat: no-repeat;
    background-position: center, right center;
}

#pad-cup{
    padding-left: 250px;
    margin-top: 0px;
}

.columna-portada{
    width: 530px;
    text-align: center;
    padding-top: 50px;
}

.btn {
    margin-top: 75px;
    display: inline-block;
    background: #C8F700;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    align-self: flex-start;
}


/* Sección Imágenes que se acoplan*/

.seccion-acople {
    width: 100%;
    height: 1080px;
    
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    
    /*para ordenar los contenedores*/
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end;     
    padding: 106px 122px; 
}

.foto-1 {
    background-image: url('imagenes/spike.jpg');
    background-size: 100%;
}

.foto-2 {
    background-image: url('imagenes/pausa-stands.jpg');
    background-size: 100%;
    background-position: left bottom;
}

.foto-3 {
    background-image: url('imagenes/nosotros-level.jpg');
    background-size: 100%;
}

/*versión gemini*/
.caja-borde {
    background-color: #d4ff00; 
    padding: 2px; 
    width: 625px; 
    clip-path: polygon(30px 0%, 100% 0%, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0% 100%, 0% 30px);
}

.caja-contenido {
    background-color: rgba(10, 10, 10, 0.95);
    padding: 40px;
    clip-path: polygon(30px 0%, 100% 0%, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0% 100%, 0% 30px);
}

/*versión emi*/

.p18 {
    font-size: 18px;
    padding-bottom: 41px;
    padding-top: 41px;
    padding-left: 32px;
    padding-right: 32px;
}

.h3-35{
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.contenedor-imagenes{
    width: 626px;
}

/*Sección Equipos*/
.seccion-equipos {
    width: 100%;
    height: 1080px;
    
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url('imagenes/fondo-equipos.jpg');
    background-size: 100%;
}

/*Sección Dudas*/
.dudas-difuminado {
    width: 100%;
    height: 1000px;
    background: linear-gradient(to right, #141414 48%, rgb(255, 0, 60, 0.4) 58%, transparent 110%), url('imagenes/dudas.jpg');
    background-size: 100% 100%, 80% auto;
    background-repeat: no-repeat;
    background-position: center, right center;
}

.columna-dudas{
    width: 650px;
    text-align: center;
    padding-left: 120px;
    padding-top: 50px;
}
