@font-face {
    font-family: "Matroska" ;
    src: url(./fuentes/Matroska-RppG6.ttf);
}
@font-face {
    font-family: "Orbitron";
    src: url(./fuentes/Orbitron-Medium.ttf);
}
@font-face {
    font-family: "PPFraktion";
    src: url(./fuentes/PPFraktionMono-Regular-BF675904a6a1564.otf);
}
h1{
    font-family: "Matroska", sans-serif;
    text-align: center;
}
h2{
    font-family: "Orbitron", sans-serif;
    text-align: center;
}
p,a{
    font-family: "PPFraktion", sans-serif;
    text-align: center;
    background-image: url(./imagenes/cuadricula.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1,h2,h3,h4,h5{
color: white;   
}

p{
    color: red;
}

ul,ol{
    color: violet;
}

li{
    color:violet;
}

body{
    margin: 50px;
    margin-top: 70px;
}

img{
    display: block;
    margin: auto;
    width: 75%;
}

#primertexto{
 color: springgreen;
}

#papulandia{
    color: white;
}